@defer (on viewport) {
<div class="product-card">
  <button
    type="button"
    class="btn product-card__favorite"
    (click)="toggleProductFavorite()"
  >
    @if (product.isFavorite) {
    <i class="fa-solid fa-bookmark"></i>
    }@else {
    <i class="fa-regular fa-bookmark"></i>
    }
  </button>
  <img
    class="product-card__image"
    loading="lazy"
    [src]="product.image"
    [alt]="product.title"
  />
  <div class="product-card__info">
    <h3>{{ product.title }}</h3>
  </div>
</div>
}@placeholder {
<span>Cargando...</span>
}
