<article class="login">
  <div class="login__container">
    <form class="login__form">
      <div>
        <label for="name" class="login__form-label">Nombre</label>
        <input
          type="text"
          class="login__form-control"
          id="name"
          placeholder="Nombre"
          formControlName="name"
        />
      </div>
      <div>
        <label for="email" class="login__form-label">Correo electrónico</label>
        <input
          type="email"
          class="login__form-control"
          id="email"
          placeholder="Correo electrónico"
          formControlName="email"
        />
      </div>
      <button type="submit" class="login__form-button">Iniciar sesión</button>
      <a href="">Crear cuenta</a>
    </form>
  </div>
</article>
