<main class="flex-center">
  <article class="login">
    <form class="login__form">
      <div class="form-content">
        <label for="name">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nombre"
          formControlName="name"
        />
      </div>
      <div class="form-content">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Correo electrónico"
          formControlName="email"
        />
      </div>
      <button type="submit" class="form-button">Iniciar sesión</button>
      <a routerLink="register">Crear cuenta</a>
    </form>
  </article>
</main>
