<main class="flex-center">
  <article class="login">
    <form class="login__form" [formGroup]="form" (ngSubmit)="onLogin()">
      <div class="form-content">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Correo electrónico"
          formControlName="email"
        />
      </div>
      <div class="form-content">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Contraseña"
          formControlName="password"
        />
      </div>
      <button type="submit" class="form-button" [disabled]="form.invalid">
        Iniciar sesión
      </button>
      <a routerLink="register">Crear cuenta</a>
    </form>
  </article>
</main>
